.comment-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .comment-button:hover {
    background-color: #45a049;
  }

  .text {
    font-size: 19px;
    color: #333;
    margin-bottom: 10px;
  }
  